<mat-toolbar color="primary">
    <span>Navbar</span>
    <span class="example-spacer"></span>
    <button mat-button [routerLink]="['home']">Home</button>
    <span class="example-spacer"></span>
    <button mat-button [routerLink]="['features']">Features</button>
    <span class="example-spacer"></span>
    <button mat-button [routerLink]="['pricing']">Pricing</button>
</mat-toolbar>

