.size {
    width:60%;
    float: left;
}

.options {
    width: 20%;
}
img {
    width: 70px;
}

.size1 {
    width: 20%;
    padding-left: 30px;
}

.size2 {
    width: 200px;
}
.tamanio {
    height: 40px;
}
.botones {
    display: flex;
    justify-content: space-around;
}
.table thead:nth-child(1){
    background-color: lightgreen;
    color: white;
}
.derecha {
    margin-top: 90px;
}

.derecha .boton-pdf {
    background-color: rgb(16, 12, 229);
    border-radius: 10px;
    padding: 15px;
    color: white;
    border: none;
}

.derecha .boton-excel {
    background-color: green;
    border-radius: 10px;
    color: white;
    border: none;
}

.decor {
    padding-left: 50px;
    font-size: 20px;
}
