<div class="size">
    <h1 class="mt-5">Pablo Fernandez Aduviri</h1>
  <hr>

  <div>
    <input type="text" 
    class="form-control mb-2" 
    placeholder="Buscar Pokémon" 
    #txtBuscar
    (keyup)="BuscarPokemon(txtBuscar.value)"/>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th class="size1">Numero</th>
        <th class="size2">Nombre</th>
        <th>Imagen</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let poke of pokemons | filtro:page:buscar" class="tamanio">
        <td class="decor">{{poke.id}}</td>
        <td>{{poke.name}}</td>
        <td>
          <img [src]="poke.pic" [alt]="poke.name">
        </td>
      </tr>
    </tbody>
  </table>



  <div class="botones">
    <button class="btn btn-primary" (click)="AntPage()">
      Anteriores
    </button>
    &nbsp;
    <button class="btn btn-primary" (click)="AvPage()" [disabled]="(pokemons | filtro:page:buscar).length === 0">
      Siguientes
    </button>
    <div *ngIf="(pokemons | filtro:page:buscar).length === 0">
      <h2>No hay más Pokémons</h2>
    </div>
  </div>
</div>

<div class="derecha">
  <div class="botones">
    <button class="boton-excel">
      Exportar a Excel
    </button>
    &nbsp;
    <button class="boton-pdf">
      Exportar a PDF
    </button>
  </div>
</div>




























